{% load static %}


<!-- Footer -->
<footer id="footer">
    <div class="footer-top" style="background-color: var(--light-grey)">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-md-6 footer-contact">
                    {#                    <a href="{% url 'index' %}" class="logo me-auto">#}
                    {#                        <img id="logo" src="{% static 'img/logo-new.png' %}" alt="logo" class="img-fluid" width="180">#}
                    {#                    </a>#}
                    <h3>BRAN LOGISTICS</h3>
                    <p>
                        Bournemouth, Christchurch and Poole, UK<br><br>
                        <strong>Phone:</strong> +44 745 916 4919<br>
                        <strong>Email:</strong> <a class="email-link" href="mailto:contact@branlogistics.co.uk"
                                                   style="color: #5e5e5e;">contact@branlogistics.co.uk</a><br>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 d-flex justify-content-end mobile-flex-column" style="column-gap: 100px">
                    <div class="col-lg-6 col-md-6 footer-links">
                        <h4>Quick Links</h4>
                        <div class="d-flex gap-4">
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#hero">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#about">About us</a>
                                </li>
                                <li><i class="bx bx-chevron-right"></i> <a
                                        href="{% url 'index' %}#services">Services</a></li>
                            </ul>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#portfolio">Fleet</a>
                                </li>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#faq">FAQ</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}#contact">Contact
                                    us</a></li>
                            </ul>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'quotes:get-a-quote' %}">Get a Quote</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Bran Logistics</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->