{% load static %}


<!-- Footer -->
<footer id="footer">
    <div class="footer-top" style="background-color: var(--light-grey)">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-md-6 footer-contact">
                    <h3>Bran P&T</h3>
                    <p>
                        Bournemouth, UK<br><br>
                        <strong>Phone:</strong> +44 745 916 4919<br>
                        <strong>Email:</strong> branpt@outlook.com<br>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 d-flex justify-content-end mobile-flex-column" style="column-gap: 100px">
                    <div class="col-lg-5 col-md-6 footer-links">
                        <h4>Links</h4>
                        <div class="d-flex gap-5">
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                            </ul>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Facilities</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#faq">FAQ</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#" style="pointer-events: none">Delivery
                                Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#" style="pointer-events: none">Courier
                                Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#" style="pointer-events: none">House
                                Removals</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Bran Logistics</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->