{% extends 'base.html' %}

{% load static %}


{% block title %}
    <title>Get a Free Quote | Bran Logistics</title>
{% endblock title %}

{% block meta_description %}
    <meta content="Need a same day courier in Bournemouth? We deliver parcels fast, locally and nationwide. Affordable, secure, and professional service – 24/7."
          name="description">
{% endblock meta_description %}


{% block stylesheets %}
    <link rel="stylesheet"
          href="{% static 'tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}"/>
    <link href="{% static 'font-awesome/css/font-awesome.css' %}"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% endblock %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="padding-top: 4rem">
        <div class="container">
            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Free quote</li>
            </ol>
            <h2>Get A Free Quote</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page contact">
        <div class="container d-flex justify-content-center align-items-center flex-column">
            <div class="section-title">
                <h2>Same Day Quote</h2>
                <p>Input Your parcel details, delivery and personal information and receive immediate delivery estimate
                    with Bran Logistics.</p>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="{% url 'quotes:get-a-quote' %}" method="post" class="php-email-form">
                    {% csrf_token %}
                    {{ form.middle_name }}
                    {{ form.timestamp }}

                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}" class="mandatory">{{ form.name.label }}</label>
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.contact_telephone.id_for_label }}"
                                   class="mandatory">{{ form.contact_telephone.label }}</label>
                            {{ form.contact_telephone }}
                            {% for error in form.contact_telephone.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.email.id_for_label }}" class="mandatory">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% for error in form.email.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="form-group col-md-6">
                            <label for="{{ form.postcode_from.id_for_label }}"
                                   class="mandatory">{{ form.postcode_from.label }}</label>
                            {{ form.postcode_from }}
                            {% for error in form.postcode_from.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.company_from.id_for_label }}">{{ form.company_from.label }}</label>
                            {{ form.company_from }}
                            {% for error in form.company_from.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.postcode_to.id_for_label }}"
                                   class="mandatory">{{ form.postcode_to.label }}</label>
                            {{ form.postcode_to }}
                            {% for error in form.postcode_to.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.company_to.id_for_label }}">{{ form.company_to.label }}</label>
                            {{ form.company_to }}
                            {% for error in form.company_to.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="form-group col-md-6">
                            <label for="{{ form.time_to_collect_from.id_for_label }}"
                                   class="mandatory">{{ form.time_to_collect_from.label }}</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                {{ form.time_to_collect_from }}
                                <div class="input-group-append" data-target="#datetimepicker1"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text" style="height: 100%"><i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            {% for error in form.time_to_collect_from.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.time_to_collect_to.id_for_label }}" style="visibility: hidden"
                                   class="mandatory time-to-label-mobile">{{ form.time_to_collect_to.label }}</label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                {{ form.time_to_collect_to }}
                                <div class="input-group-append" data-target="#datetimepicker2"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text" style="height: 100%"><i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            {% for error in form.time_to_collect_to.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.time_to_deliver_from.id_for_label }}"
                                   class="mandatory">{{ form.time_to_deliver_from.label }}</label>
                            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                {{ form.time_to_deliver_from }}
                                <div class="input-group-append" data-target="#datetimepicker3"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text" style="height: 100%"><i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            {% for error in form.time_to_deliver_from.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.time_to_deliver_to.id_for_label }}" style="visibility: hidden"
                                   class="mandatory time-to-label-mobile">{{ form.time_to_deliver_to.label }}</label>
                            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                {{ form.time_to_deliver_to }}
                                <div class="input-group-append" data-target="#datetimepicker4"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text" style="height: 100%"><i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            {% for error in form.time_to_deliver_to.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="form-group mt-4 mb-5">
                            <label class="mandatory">Parcels Details</label>
                            {% include 'quotes/_partials/parcel_formset.html' %}
                        </div>

                        <div class="form-group col-md-12">
                            <label for="{{ form.vehicle_type.id_for_label }}">{{ form.vehicle_type.label }}</label>
                            {{ form.vehicle_type }}
                            {% for error in form.vehicle_type.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.additional_info.id_for_label }}"
                                   class="d-flex align-items-center gap-2">
                                <input type="checkbox" id="toggleCheckbox"> {{ form.additional_info.label }}</label>
                            {{ form.additional_info }}
                            {% for error in form.additional_info.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ form.captcha }}
                            {% for error in form.captcha.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submit-btn">Quote Me</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

{% endblock content %}


{% block javascript %}
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'js/quotes/formatNumberInputs.js' %}"></script>
    <script src="{% static 'js/quotes/datetimepicker.js' %}"></script>
    <script src="{% static 'js/quotes/toggleCheckbox.js' %}"></script>
    <script src="{% static 'js/quotes/displayErrors.js' %}"></script>
    <script src="{% static 'js/quotes/googleMapsApi.js' %}"></script>

    <!-------- Single parameters cargo formset -------->
    <script defer>
        document.addEventListener('DOMContentLoaded', function () {
            (function ($) {
                preventNegativeNums();
                preventDecimalsInCount();
                preventMoreDecimalPlaces();
                showUnit();

                $(function () {

                    var $template = $('#empty-form'),
                        $formset = $('#formset'),
                        formCount = {{ formset.total_form_count }},
                        minCount = {{ formset.initial_form_count }},
                        maxCount = {{ formset.max_num }};

                    $('body').on('click', '#add-more', function (e) {
                        e.preventDefault();

                        formCount++;

                        var templateHtml = $template.html();
                        templateHtml = templateHtml.replace(/__prefix__/g, formCount - 1);

                        $formset.append(templateHtml);

                        $('#id_parcel-TOTAL_FORMS').val(formCount);

                        var $lastForm = $('.form', $formset).last();

                        preventNegativeNums();
                        preventDecimalsInCount();
                        preventMoreDecimalPlaces();
                        showUnit();
                    });

                    $('body').on('click', '.delete-tip', function (e) {
                        e.preventDefault();

                        $(this).closest('.cargo-form').remove();
                        formCount--;
                    });
                });
            })(jQuery);
        });
    </script>
    <!-------- End Single parameters cargo formset -------->

{% endblock javascript %}