{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Courier Bournemouth | Same Day Parcel Delivery | Bran Logistics</title>
    <meta content="Need a same day courier in Bournemouth? We deliver parcels fast, locally and nationwide. Affordable, secure, and professional service – 24/7."
          name="description">
    <meta content="bran, branlogistics, bran logistics, logistics, logistic, transport, transportation, courier, delivery, house removals, urgent, overnight, swb, mwb, small van, 24/7, same-day delivery, Bournemouth, Christchurch, Poole, Wimborne, Ferndown, Ringwood, Dorset, Dorset area, United Kingdom, England, uk, luton van, tail lift, van, curtain sider"
          name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/fav-icon.ico' %}" rel="icon" type="image/x-icon">

    <!-- Preconnect Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    </noscript>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </noscript>
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    </noscript>
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    </noscript>
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    </noscript>
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    </noscript>
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" media="print"
          onload="this.onload=null;this.media='all';">
    <noscript>
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    </noscript>

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Cookieconsent CSS File -->
    <link rel="stylesheet" href="{% static 'css/cookieconsent.min.css' %}">
    <link rel="canonical" href="https://branlogistics.co.uk/"/>

    <!-- Preloads -->
    <link rel="preload"
          as="image"
          href="{% static 'img-webp/main-1200.webp' %}"
          type="image/webp"
          imagesrcset="{% static 'img-webp/main-600.webp' %} 600w, {% static 'img-webp/main-1200.webp' %} 1200w, {% static 'img-webp/main.webp' %} 1835w"
          imagesizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1835px">
    <link rel="preload" as="image" href="{% static 'img-webp/logo-new.webp' %}" type="image/webp">
    <link rel="preload" as="font" type="font/woff"
          href="{% static 'vendor/bootstrap-icons/fonts/bootstrap-icons.woff' %}" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2"
          href="{% static 'vendor/bootstrap-icons/fonts/bootstrap-icons.woff2' %}" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff"
          href="{% static 'vendor/boxicons/fonts/boxicons.woff' %}" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2"
          href="{% static 'vendor/boxicons/fonts/boxicons.woff2' %}" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff"
          href="{% static 'vendor/remixicon/remixicon.woff' %}" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2"
          href="{% static 'vendor/remixicon/remixicon.woff2' %}" crossorigin="anonymous">

    {% block stylesheets %}
    {% endblock stylesheets %}

    <!-- Load Google Maps API with a callback -->
    <script>function initAutocomplete() {
    }</script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initAutocomplete"
            async defer></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DRMYL34FD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-8DRMYL34FD');
    </script>
</head>

<!-- Tawk.to Script-->
<script src="{% static 'js/takwToChat.js' %}" type="text/javascript" defer></script>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        {#        <h1 class="logo me-auto"><a href="#">Bran P&T</a></h1>#}
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{% url 'index' %}" class="logo me-auto">
            <picture id="logo">
                <source srcset="{% static 'img-webp/logo-new.webp' %}" type="image/webp">
                <img src="{% static 'img/logo-new.jpg' %}" alt="Logo" class="img-fluid" height="70" width="200"
                     fetchpriority="high">
            </picture>
        </a>

        {% include '_partials/navigation.html' %}
    </div>

    {% if messages %}
        {% include "_partials/messages.html" %}
    {% endif %}
</header>
<!-- End Header -->

{% block content %}
{% endblock content %}

{% include '_partials/footer.html' %}

{#<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i#}
{#        class="bi bi-arrow-up-short"></i></a>#}

<!-- Jquery -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/aos/aos.js' %}" defer></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}" defer></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}" defer></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}" defer></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}" defer></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}" defer></script>

<!-- Csrf and Cookieconsent JS Files -->
<script src="{% static 'js/csrf.js' %}" defer></script>
<script src="{% static 'js/cookieconsent.min.js' %}" data-cfasync="false" defer></script>

<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "rgb(42, 46, 49)",
                "text": "#ffffff"
            },
            "button": {
                "background": "#D32F2F",
                "text": "#ffffff",
            }
        },
        "content": {
            "message": "This site uses cookies. By continuing to use its services, you accept the cookies we use.",
            "dismiss": "I agree",
            "link": "Read more",
            "href": "{% url 'cookies-policy' %}",
        },
        onPopupOpen: function () {
            // Select the cookie consent button and add custom styles
            var button = document.querySelector('.cc-btn');
            if (button) {
                button.style.borderRadius = "50px"; // Add border-radius
                button.style.padding = "7px 20px"; // Add padding
                button.style.marginRight = "70px";
            }
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            var toastElement = document.getElementById('toast-{{ forloop.counter }}');
            var toast = new bootstrap.Toast(toastElement, {
                autohide: true,
                delay: parseInt(toastElement.getAttribute('data-bs-delay'))
            });
            toast.show();
        {% endfor %}
    });
</script>

{% block javascript %}
{% endblock javascript %}

</body>

</html>