{% extends 'base.html' %}

{% load static calculate_price %}


{% block title %}
    <title>Free Quote | Select A Service | Bran Logistics</title>
{% endblock title %}

{% block meta_description %}
    <meta content="Need a same day courier in Bournemouth? We deliver parcels fast, locally and nationwide. Affordable, secure, and professional service – 24/7."
          name="description">
{% endblock meta_description %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="padding-top: 4rem">
        <div class="container">
            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Quick quote</li>
            </ol>
            <h2>Quick Quote</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Free Quick Quote</h2>
            </div>

            <div class="row">
                <div class="mb-3">
                    <p class="fst-italic">Please note that the prices listed are indicative only and
                        additional charges may apply in the following cases:</p>
                    <p class="fst-italic">
                        • This service provides a dedicated vehicle for direct A to B delivery.<br>
                        • Services carried out outside of standard working hours (06:00 – 17:00)<br>
                        • Additional services, such as manual loading/unloading (handball) at the collection point,
                        delivery point, or both<br>
                        • When the collection or delivery location requires an additional fee, for example restricted
                        access areas such as Central London or ferry cost
                    </p>
                    <p class="fst-italic">If you are unsure about which vehicle is most suitable for your
                        shipment, please do not hesitate
                        to contact us.
                        We will be happy to provide free advice to help you choose the correct vehicle for your
                        needs.</p>
                </div>

                <div class="col-lg-6 cursor-pointer"
                     data-bs-toggle="modal"
                     data-bs-target="#dynamicModal"
                     data-title="Small Van"
                     data-weight="400kg"
                     data-size="120cm x 100cm x 100cm">
                    <div class="section-bg member d-flex align-items-center pt-3 pb-3" data-aos="zoom-in"
                         data-aos-delay="100">
                        <div class="info-icon"><i class="bx bx-error-circle icon-help"></i></div>
                        <div class="pic">
                            <img src="{% static 'img/vehicles/small-van.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="member-info">
                                    <h4>Small Van</h4>
                                    <div>up to 1.5m</div>
                                </div>
                                <div class="member-info text-end">
                                    <h2>£{{ distance|calculate_price:'small_van' }}</h2>
                                    <div>£{{ distance|calculate_price_with_vat:'small_van' }} inc VAT</div>
                                </div>
                            </div>
                            <hr class="ms-4">
                            <div class="d-flex justify-content-end">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_type" value="small_van">
                                    <input type="hidden" name="name" value="Small Van">
                                    <input type="hidden" name="size" value="1.5">
                                    <input type="hidden" name="price"
                                           value="{{ distance|calculate_price:'small_van' }}">
                                    <input type="hidden" name="price_vat"
                                           value="{{ distance|calculate_price_with_vat:'small_van' }}">

                                    <button type="submit" class="btn-calculate">Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0 cursor-pointer"
                     data-bs-toggle="modal"
                     data-bs-target="#dynamicModal"
                     data-title="SWB (Short Wheelbase) Van"
                     data-weight="800kg"
                     data-size="200cm x 120cm x 120cm">
                    <div class="section-bg member d-flex align-items-center pt-3 pb-3" data-aos="zoom-in"
                         data-aos-delay="200">
                        <div class="info-icon"><i class="bx bx-error-circle icon-help"></i></div>
                        <div class="pic">
                            <img src="{% static 'img/vehicles/swb.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="member-info">
                                    <h4>SWB</h4>
                                    <div>up to 2.4m</div>
                                </div>
                                <div class="member-info text-end">
                                    <h2>£{{ distance|calculate_price:'swb' }}</h2>
                                    <div>£{{ distance|calculate_price_with_vat:'swb' }} inc VAT</div>
                                </div>
                            </div>
                            <hr class="ms-4">
                            <div class="d-flex justify-content-end">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_type" value="swb">
                                    <input type="hidden" name="name" value="SWB">
                                    <input type="hidden" name="size" value="2.4">
                                    <input type="hidden" name="price" value="{{ distance|calculate_price:'swb' }}">
                                    <input type="hidden" name="price_vat"
                                           value="{{ distance|calculate_price_with_vat:'swb' }}">

                                    <button type="submit" class="btn-calculate">Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 cursor-pointer"
                     data-bs-toggle="modal"
                     data-bs-target="#dynamicModal"
                     data-title="MWB (Medium Wheelbase) Van"
                     data-weight="120kg"
                     data-size="250cm x 120cm x 160cm">
                    <div class="section-bg member d-flex align-items-center pt-3 pb-3" data-aos="zoom-in"
                         data-aos-delay="300">
                        <div class="info-icon"><i class="bx bx-error-circle icon-help"></i></div>
                        <div class="pic">
                            <img src="{% static 'img/vehicles/mwb.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="member-info">
                                    <h4>MWB</h4>
                                    <div>up to 3m</div>
                                </div>
                                <div class="member-info text-end">
                                    <h2>£{{ distance|calculate_price:'mwb' }}</h2>
                                    <div>£{{ distance|calculate_price_with_vat:'mwb' }} inc VAT</div>
                                </div>
                            </div>
                            <hr class="ms-4">
                            <div class="d-flex justify-content-end">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_type" value="mwb">
                                    <input type="hidden" name="name" value="MWB">
                                    <input type="hidden" name="size" value="3">
                                    <input type="hidden" name="price" value="{{ distance|calculate_price:'mwb' }}">
                                    <input type="hidden" name="price_vat"
                                           value="{{ distance|calculate_price_with_vat:'mwb' }}">

                                    <button type="submit" class="btn-calculate">Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 cursor-pointer"
                     data-bs-toggle="modal"
                     data-bs-target="#dynamicModal"
                     data-title="LWB (Long Wheelbase) Van"
                     data-weight="1100kg"
                     data-size="300cm x 120cm x 170cm"
                     data-info="It can can carry up to 3 pallets.">
                    <div class="section-bg member d-flex align-items-center pt-3 pb-3" data-aos="zoom-in"
                         data-aos-delay="300">
                        <div class="info-icon"><i class="bx bx-error-circle icon-help"></i></div>
                        <div class="pic">
                            <img src="{% static 'img/vehicles/panel-van.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="member-info">
                                    <h4>LWB</h4>
                                    <div>up to 4m</div>
                                </div>
                                <div class="member-info text-end">
                                    <h2>£{{ distance|calculate_price:'lwb' }}</h2>
                                    <div>£{{ distance|calculate_price_with_vat:'lwb' }} inc VAT</div>
                                </div>
                            </div>
                            <hr class="ms-4">
                            <div class="d-flex justify-content-end">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_type" value="lwb">
                                    <input type="hidden" name="name" value="LWB">
                                    <input type="hidden" name="size" value="4">
                                    <input type="hidden" name="price" value="{{ distance|calculate_price:'lwb' }}">
                                    <input type="hidden" name="price_vat"
                                           value="{{ distance|calculate_price_with_vat:'lwb' }}">

                                    <button type="submit" class="btn-calculate">Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 cursor-pointer"
                     data-bs-toggle="modal"
                     data-bs-target="#dynamicModal"
                     data-title="XLWB (Extra Long Wheelbase) Van"
                     data-weight="1500kg"
                     data-size="400cm x 120cm x 175cm"
                     data-info="It is the largest panel van available and can carry up to 4 pallets.">
                    <div class="section-bg member d-flex align-items-center pt-3 pb-3" data-aos="zoom-in"
                         data-aos-delay="500">
                        <div class="info-icon"><i class="bx bx-error-circle icon-help"></i></div>
                        <div class="pic">
                            <img src="{% static 'img/vehicles/panel-van.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="member-info">
                                    <h4>XLWB</h4>
                                    <div>up to 4.2m</div>
                                </div>
                                <div class="member-info text-end">
                                    <h2>£{{ distance|calculate_price:'xlwb' }}</h2>
                                    <div>£{{ distance|calculate_price_with_vat:'xlwb' }} inc VAT</div>
                                </div>
                            </div>
                            <hr class="ms-4">
                            <div class="d-flex justify-content-end">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_type" value="xlwb">
                                    <input type="hidden" name="name" value="XLWB">
                                    <input type="hidden" name="size" value="4.2">
                                    <input type="hidden" name="price" value="{{ distance|calculate_price:'xlwb' }}">
                                    <input type="hidden" name="price_vat"
                                           value="{{ distance|calculate_price_with_vat:'xlwb' }}">

                                    <button type="submit" class="btn-calculate">Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 cursor-pointer"
                     data-bs-toggle="modal"
                     data-bs-target="#dynamicModal"
                     data-title="Luton Van"
                     data-weight="1000kg"
                     data-size="420cm x 200cm x 200cm"
                     data-info="It is the largest van option with dedicated vehicle service and Can carry up to 6 pallets.">
                    <div class="section-bg member d-flex align-items-center pt-3 pb-3" data-aos="zoom-in"
                         data-aos-delay="600">
                        <div class="info-icon"><i class="bx bx-error-circle icon-help"></i></div>
                        <div class="pic">
                            <img src="{% static 'img/vehicles/luton-box.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="member-info">
                                    <h4>Luton Van</h4>
                                </div>
                                <div class="member-info text-end">
                                    <h2>£{{ distance|calculate_price:'luton_van' }}</h2>
                                    <div>£{{ distance|calculate_price_with_vat:'luton_van' }} inc VAT</div>
                                </div>
                            </div>
                            <hr class="ms-4">
                            <div class="d-flex justify-content-end">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="vehicle_type" value="luton_van">
                                    <input type="hidden" name="name" value="Luton Van">
                                    <input type="hidden" name="size" value="">
                                    <input type="hidden" name="price"
                                           value="{{ distance|calculate_price:'luton_van' }}">
                                    <input type="hidden" name="price_vat"
                                           value="{{ distance|calculate_price_with_vat:'luton_van' }}">

                                    <button type="submit" class="btn-calculate">Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include 'base/_partials/vehicle_type_modal.html' %}

    <style>
        hr {
            background: #cbd6e9;
        }

        .btn-calculate {
            padding: 6px 22px;
        }
    </style>

{% endblock content %}


{% block javascript %}
    <script src="{% static 'js/calculator/showInfoModal.js' %}"></script>
{% endblock javascript %}