{% extends 'base.html' %}

{% load static %}


{% block title %}
    <title>Courier Bournemouth | Same Day Parcel Delivery | Bran Logistics</title>
{% endblock title %}

{% block meta_description %}
    <meta content="Need a same day courier in Bournemouth? We deliver parcels fast, locally and nationwide. Affordable, secure, and professional service – 24/7."
          name="description">
{% endblock meta_description %}


{% block content %}
    <!-- Title -->
    <section id="hero">
        <picture>
            <source type="image/webp"
                    srcset="{% static 'img-webp/main-600.webp' %} 600w, {% static 'img-webp/main-1200.webp' %} 1200w, {% static 'img-webp/main.webp' %} 1835w"
                    sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1835px">
            <img fetchpriority="high" loading="eager"
                 decoding="async" src="{% static 'img/main.png' %}" alt="same day delivery bournemouth"
                 class="img-fluid main-img" height="676"
                 srcset=" {% static 'img/main-600.png' %} 600w, {% static 'img/main-1200.png' %} 1200w, {% static 'img/main.png' %} 1835w"
                 sizes="(max-width: 600px) 600px, (max-width: 1200px) 1200px, 1835px">
        </picture>

        <div class="container container-mobile">
            <div class="row" style="height: 100%">
                <div class="col-lg-6 d-flex flex-column justify-content-between pt-4 pt-lg-0 title-box-wide">
                    <div>
                        <h1 class="mb-4 title-mobile-wide">Same Day Courier in UK</h1>
                        <h2>Whether you need same-day, next-day, or urgent delivery services across the UK, we’ve got
                            you
                            covered. Our courier services ensure your items arrive on time and in excellent
                            condition.</h2>
                    </div>
                    <div>
                        <a href="{% url 'quotes:get-a-quote' %}" class="btn-get-started scrollto"
                           style="min-width: 135px !important;">Get a Free Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Title -->

    <!-- Main -->
    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Established in August 2022, Bran Logistics is your trusted partner for urgent Same Day and
                            overnight courier delivery services. Operating 24/7, we specialise in fast, reliable
                            solutions to meet your delivery needs. Our extensive network
                            of agents enables us to arrange specialist deliveries and collections to and from any
                            location in the UK.
                        </p>
                        <p>
                            Our fleet and services include:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> A versatile range of vehicles, from small vans to
                                Luton vans.
                            </li>
                            <li><i class="ri-check-double-line"></i> Two-person collection and delivery for larger,
                                heavier items.
                            </li>
                            <li><i class="ri-check-double-line"></i> ADR-certified vehicles for transporting hazardous
                                goods safely.
                            </li>
                            <li><i class="ri-check-double-line"></i> Tail lift-equipped vans for easy loading and
                                unloading.
                            </li>
                            <li><i class="ri-check-double-line"></i> Business and house removal services within
                                Bournemouth, Christchurch, Poole, and the entire Dorset area.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <ul>
                            <li><i class="ri-check-double-line"></i> Customised collection and delivery schedules for
                                time-sensitive goods.
                            </li>
                            <li><i class="ri-check-double-line"></i> Real-time updates on the location of your shipment
                                and estimated delivery time.
                            </li>
                            <li><i class="ri-check-double-line"></i> Pricing tailored to your specific delivery
                                requirements or daily rate.
                            </li>
                            <li><i class="ri-check-double-line"></i> Competitive and transparent rates with no hidden
                                fees or surprises.
                            </li>
                            <li><i class="ri-check-double-line"></i> Goods in Transit insurance for all deliveries.
                            </li>
                            <li><i class="ri-check-double-line"></i> Proof of Delivery (POD) once your item has been
                                delivered.
                            </li>
                            <li><i class="ri-check-double-line"></i> For international businesses — like those based in
                                China and the USA — we offer reliable pickup and delivery services to and from all
                                airports across the UK.
                            </li>
                        </ul>
                        <p>
                            Let us handle your time-sensitive shipments with efficiency and care, ensuring they reach
                            their destination securely and on time.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>Fast, reliable and tailored delivery services to meet your needs! From urgent Same Day and
                        overnight shipping to scheduled deliveries and removal services, you can trust us to deliver
                        your goods swiftly, safely, and efficiently.</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                         data-aos-delay="100">
                        <a href="{% url 'same-day-delivery' %}" style="color: #444;">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bxs-package"></i></div>
                                <h3 class="service-title">Urgent Same or Next Day Delivery</h3>
                                <p>Need your package delivered fast? With our Express Same Day Delivery, we’ll ensure
                                    your
                                    shipment reaches its destination before the day ends. Contact us now, and our team
                                    will
                                    handle everything to make sure your delivery is completed quickly and
                                    efficiently.</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                         data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxs-moon"></i></div>
                            <h3 class="service-title">Overnight Priority Shipping</h3>
                            <p>For urgent shipments that can’t wait, our Overnight Priority Shipping guarantees your
                                goods will be transported through the night and delivered first thing in the morning.
                                Trust us to get your items where they need to be, even after hours.</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                         data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxs-calendar-check"></i></div>
                            <h3 class="service-title">Flexible Scheduled Deliveries</h3>
                            <p>Plan ahead with our Flexible Scheduled Deliveries. Whether you need a one-time future
                                booking or a regular, scheduled courier service, we can tailor a solution to meet your
                                business needs. Get in touch today to discuss how we can create a delivery plan that
                                works for you.</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                         data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h3 class="service-title">Business and House Removals</h3>
                            <p>Looking to move your home or relocate your business? Our services are designed to make
                                the process smooth and worry-free. No matter the consignment, we ensure it’s delivered
                                safely and on time with the utmost care.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Fleet</h2>
                    <p>Our diverse and reliable fleet ranges from small vans to Luton vans and is equipped to handle
                        deliveries of all sizes from small parcels to large, high-volume loads.</p>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img">
                            <picture>
                                <source srcset="{% static 'img-webp/vehicles/small-van.webp' %}" type="image/webp">
                                <img src="{% static 'img/vehicles/small-van.png' %}" alt="Small Van" class="img-fluid"
                                     height="312" width="416" loading="lazy">
                            </picture>
                        </div>
                        <div class="portfolio-info">
                            <h3 class="van-title">Small Van</h3>
                            <a href="{% static 'img/vehicles/small-van.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link"
                               title="<b>Small Van</b>
                                      <br>
                                      Length: 1.5m&nbsp;&nbsp;&nbsp;&nbsp;Width: 1.2m&nbsp;&nbsp;&nbsp;&nbsp;Height: 1.0m&nbsp;&nbsp;&nbsp;&nbsp;Payload: 400kg&nbsp;&nbsp;&nbsp;&nbsp;1 x Standard Pallet">

                                <span class="visually-hidden">Small Van Image - Click to enlarge</span>
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img">
                            <picture>
                                <source srcset="{% static 'img-webp/vehicles/swb.webp' %}" type="image/webp">
                                <img src="{% static 'img/vehicles/swb.png' %}" alt="SWB" class="img-fluid" height="312"
                                     width="416" loading="lazy">
                            </picture>
                        </div>
                        <div class="portfolio-info">
                            <h3 class="van-title">SWB</h3>
                            <a href="{% static 'img/vehicles/swb.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link"
                               title="<b>Short Wheelbase</b>
                                      <br>
                                      Length (avg): 2.5m&nbsp;&nbsp;&nbsp;&nbsp;Width (avg): 1.6m&nbsp;&nbsp;&nbsp;&nbsp;Height (avg): 1.2m&nbsp;&nbsp;&nbsp;&nbsp;Payload (avg): 1000kg">

                                <span class="visually-hidden">SWB Image - Click to enlarge</span>
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img">
                            <picture>
                                <source srcset="{% static 'img-webp/vehicles/mwb.webp' %}" type="image/webp">
                                <img src="{% static 'img/vehicles/mwb.png' %}" alt="MWB" class="img-fluid" height="312"
                                     width="416" loading="lazy">
                            </picture>
                        </div>
                        <div class="portfolio-info">
                            <h3 class="van-title">MWB</h3>
                            <a href="{% static 'img/vehicles/mwb.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link"
                               title="<b>Medium Wheelbase</b>
                                      <br>
                                      Length (avg): 3m&nbsp;&nbsp;&nbsp;&nbsp;Payload (avg): 1000kg">

                                <span class="visually-hidden">MWB Image - Click to enlarge</span>
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img">
                            <picture>
                                <source srcset="{% static 'img-webp/vehicles/panel-van.webp' %}" type="image/webp">
                                <img src="{% static 'img/vehicles/panel-van.png' %}" alt="Panel Van" class="img-fluid"
                                     height="312" width="416" loading="lazy">
                            </picture>
                        </div>
                        <div class="portfolio-info">
                            <h3 class="van-title">Panel Vans 4m, 4m+</h3>
                            <a href="{% static 'img/vehicles/panel-van.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link"
                               title="<b>Panel Vans 4m, 4m+</b>
                                      <br>
                                      Length (LWB): 4.0m&nbsp;&nbsp;&nbsp;&nbsp;Length (XLWB): 4.0m+&nbsp;&nbsp;&nbsp;&nbsp;Payload (avg): 1250kg">

                                <span class="visually-hidden">Panel Vans 4m, 4m+ Image - Click to enlarge</span>
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img">
                            <picture>
                                <source srcset="{% static 'img-webp/vehicles/luton-box.webp' %}" type="image/webp">
                                <img src="{% static 'img/vehicles/luton-box.png' %}" alt="Luton Box" class="img-fluid"
                                     height="312" width="416" loading="lazy">
                            </picture>
                        </div>
                        <div class="portfolio-info">
                            <h3 class="van-title">Luton Box Van</h3>
                            <a href="{% static 'img/vehicles/luton-box.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link"
                               title="<b>Luton Box Van</b>
                                      <br>
                                      Length (avg): 4.2m&nbsp;&nbsp;&nbsp;&nbsp;Width (avg): 2.1m&nbsp;&nbsp;&nbsp;&nbsp;Height (avg): 2.1m&nbsp;&nbsp;&nbsp;&nbsp;Payload (avg): 850kg">

                                <span class="visually-hidden">Luton Box Van Image - Click to enlarge</span>
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img">
                            <picture>
                                <source srcset="{% static 'img-webp/vehicles/luton-curtian.webp' %}" type="image/webp">
                                <img src="{% static 'img/vehicles/luton-curtian.png' %}" alt="Luton Curtain"
                                     class="img-fluid" height="312" width="416" loading="lazy">
                            </picture>
                        </div>
                        <div class="portfolio-info">
                            <h3 class="van-title">Luton Curtain Side Van</h3>
                            <a href="{% static 'img/vehicles/luton-curtian.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link"
                               title="<b>Luton Curtain Side Van</b>">

                                <span class="visually-hidden">Luton Curtain Side Van Image - Click to enlarge</span>
                                <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>Have questions? We've got answers! Explore our FAQ section to learn more about our delivery
                        areas, shipping options, tracking services, payment methods, and more. Whether it's same-day
                        delivery, overnight shipping, or removals, find all the details you need to make
                        informed decisions about your shipments.</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                                What areas do you deliver to?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>We offer nationwide delivery across the UK; however, business and house removals are
                                    exclusively available only within the Dorset area.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
                                What types of items can you transport?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>We handle everything from small parcels to large, bulky goods. For specific item
                                    restrictions, please contact us.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">
                                Do you provide relocation or moving services?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                                <p>Yes, we assist with home, business, and personal item relocations. Our team ensures a
                                    hassle-free and secure move.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">
                                What if I need a two-person delivery for heavy items?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                                <p>We offer a two-person collection and delivery service for larger or heavier
                                    items.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">
                                Do you handle fragile or valuable goods?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                                <p>Yes, we have experience handling delicate and high-value items with extra care.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">
                                What vehicles do you use for deliveries?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                                <p>Our fleet ranges from small vans to Luton vans and is equipped to handle deliveries
                                    of sizes from small parcels to large, high-volume loads.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">
                                How do you ensure the security of my shipment?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
                                <p>All deliveries include full Proof of Delivery (POD) to confirm safe and secure
                                    transportation.</p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed">
                                How can I get in touch for urgent queries?
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list">
                                <p>For immediate assistance, you can reach us via phone or the live WhatsApp chat (by
                                    clicking the button at the top right corner).</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>When you choose us, you’re choosing a trusted partner for high-quality services at competitive
                        rates. Ready to get started? Contact us today or fill out our online form, and we’ll help you
                        take the next step.</p>
                </div>

                <div class="row">
                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Bournemouth, Christchurch and Poole, UK</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p><a style="color: var(--dark-grey);" class="email-link"
                                      href="mailto:contact@branlogistics.co.uk">contact@branlogistics.co.uk</a></p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call or WhatsApp:</h4>
                                <p><a style="color: var(--dark-grey);" class="email-link"
                                      href="https://wa.me/447459164919" target="_blank" rel="noopener">+44 745 916
                                    4919</a></p>
                            </div>

                            <div id="map-container" style="width: 100%; height: 330px;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10659.719154679498!2d-1.8785!3d50.720806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4873a1743afcbfa3%3A0x9c4cbf60fbb71e96!2sBournemouth%2C%20UK!5e0!3m2!1sen!2sbg!4v1539943755621"
                                        width="100%"
                                        height="330"
                                        referrerpolicy="no-referrer-when-downgrade"
                                        style="border:0;"
                                        allowfullscreen=""
                                        loading="lazy"
                                        title="Google Maps location of Bran Logistics"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="{% url 'index' %}#contact" method="post" class="php-email-form">
                            {% csrf_token %}
                            {{ form.middle_name }}
                            {{ form.timestamp }}

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.name.id_for_label }}"
                                           class="mandatory">{{ form.name.label }}</label>
                                    {{ form.name }}
                                    {% for error in form.name.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="{{ form.email.id_for_label }}"
                                           class="mandatory">{{ form.email.label }}</label>
                                    {{ form.email }}
                                    {% for error in form.email.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.subject.id_for_label }}"
                                       class="mandatory">{{ form.subject.label }}</label>
                                {{ form.subject }}
                                {% for error in form.subject.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.message.id_for_label }}"
                                       class="mandatory">{{ form.message.label }}</label>
                                {{ form.message }}
                                {% for error in form.message.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.captcha }}
                                {% for error in form.captcha.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End Main -->
{% endblock content %}


{% block javascript %}
    <script>
        document.querySelectorAll('.portfolio-lightbox').forEach(item => {
            // Temporarily remove the title attribute on hover
            item.addEventListener('mouseenter', function () {
                this.dataset.title = this.getAttribute('title'); // Save the title
                this.removeAttribute('title'); // Remove it to suppress the browser tooltip
            });

            // Restore the title attribute after hover
            item.addEventListener('mouseleave', function () {
                this.setAttribute('title', this.dataset.title); // Restore the title
            });
        });
    </script>


    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [
            {
              "@type": "Question",
              "name": "What areas do you deliver to?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "We offer nationwide delivery across the UK; however, business and house removals are exclusively available only within the Dorset area."
              }
            },
            {
              "@type": "Question",
              "name": "What types of items can you transport?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "We handle everything from small parcels to large, bulky goods. For specific item restrictions, please contact us."
              }
            },
            {
              "@type": "Question",
              "name": "Do you provide relocation or moving services?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "Yes, we assist with home, business, and personal item relocations. Our team ensures a hassle-free and secure move."
              }
            },
            {
              "@type": "Question",
              "name": "What if I need a two-person delivery for heavy items?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "We offer a two-person collection and delivery service for larger or heavier items."
              }
            },
            {
              "@type": "Question",
              "name": "Do you handle fragile or valuable goods?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "Yes, we have experience handling delicate and high-value items with extra care."
              }
            },
            {
              "@type": "Question",
              "name": "What vehicles do you use for deliveries?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "Our fleet ranges from small vans to Luton vans and is equipped to handle deliveries of sizes from small parcels to large, high-volume loads."
              }
            },
            {
              "@type": "Question",
              "name": "How do you ensure the security of my shipment?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "All deliveries include full Proof of Delivery (POD) to confirm safe and secure transportation."
              }
            },
            {
              "@type": "Question",
              "name": "How can I get in touch for urgent queries?",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "For immediate assistance, you can reach us via phone or the live WhatsApp chat (by clicking the button at the top right corner)."
              }
            }
          ]
        }
    </script>
{% endblock javascript %}