<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}

    <div>
        {{ form.email }}
        <label for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
    </div>
    <br>
    <div>
        {{ form.password }}
        <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
        <i class="bi bi-eye" onclick="showPass()"></i>
    </div>
    {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
    {% endfor %}

    <a href="{% url 'users:password-reset' %}">Forgot password?</a>

    <button type="submit">Login</button>

    <p class="mt-5 text-muted">&copy; {% now 'Y' %} bran plant & transport</p>
</form>

</body>
</html>