<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row py-5 min-vh-100 justify-content-center">
    <div class="col py-5 text-center">
        <h1 class="mt-5">Check your inbox</h1>
        <h5 class="my-4 text-secondary">We've emailed you instructions for setting your password. You should receive the email shortly!</h5>
        <a href="{% url 'index' %}" class="button-main-purple">Back To Home</a>
    </div>
</div>

</body>
</html>